<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>林俊杰.png</string>
		<key>content</key>
		<string>林俊杰（JJ Lin），1981年3月27日出生于新加坡，华语流行歌手、词曲创作者、音乐制作人、演员。
2003年发行首张创作专辑《乐行者》 。2004年凭专辑《第二天堂》中的《江南》一曲成名  。2013年至2015年举办“时线Timeline世界巡回演唱会”和安可场“时线：新地球世界巡回演唱会”，唱遍4大洲、31个城市，刷新个人纪录 。2014年以专辑《因你而在》夺得第25届台湾金曲奖最佳国语男歌手奖  。
2007年成立个人音乐制作公司JFJ Productions，负责单曲及专辑制作。2008年创立潮流品牌SMG。2012年发行故事影像书《记得》，成功跻身畅销书作家行列 。
2004年、2015年两度受邀演唱新加坡国庆庆典主题曲 ，担任2008年北京奥运会 及2010年新加坡青奥会 火炬手，创作并演唱2010年上海世博会新加坡馆主题曲《感动每一刻》 。凭借在音乐创作与慈善公益等方面的表现，2009年荣获新加坡杰出青年奖  ，2014年获得第5届通商中国青年奖 。
2015年12月25日发行首张3D实验专辑《和自己对话》 。2016年1月15日首次参演的电影《消失爱人》在中国大陆上映  。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>周杰伦.png</string>
		<key>content</key>
		<string>周杰伦（Jay Chou），1979年1月18日出生在台湾省新北市，华语男歌手、词曲创作人、演员、制作人、导演、编剧、监制 。
2000年发行首张专辑《Jay》出道，2002年在中国、新加坡、马来西亚、美国等地举办首场世界巡回演唱会。2003年登美国《时代周刊》封面人物  。周杰伦的音乐融合中西方元素，风格多变，曾四次获得世界音乐大奖中国最畅销艺人奖 。凭借专辑《Jay》《范特西》《叶惠美》《跨时代》四次获金曲奖最佳国语专辑奖，并凭借《魔杰座》《跨时代》两度获金曲奖最佳男歌手奖。2014年、2015年两度获QQ音乐年度盛典最佳全能艺人奖  。2015年获全球华语榜中榜亚洲最受欢迎全能艺人奖  ；同年担任《中国好声音第四季》导师 。
2005年以电影《头文字D》获台湾电影金马奖及香港电影金像奖最佳新人奖。2007年成立杰威尔有限公司 ，自编自导电影《不能说的秘密》获台湾电影金马奖年度杰出电影奖  。2009年入选美国CNN亚洲极具影响力人物  ，2011年主演好莱坞电影《青蜂侠》进军国际  ，获美国MTV电影大奖最佳新人提名  。2012年登福布斯中国名人榜榜首[15]  。2013年自编自导电影《天台爱情》获选纽约电影节闭幕片  。2014年加盟好莱坞电影《惊天魔盗团2》  。2015年监制电影《一万公里的约定》 。
演艺事业外，2011年担任华硕笔电设计师  并入股香港文化传信集团  。2012年开设真爱范特西连锁KTV 。2013年受邀北京大学演讲 。2016年个人品牌MRJ电商上市。 
除了个人事业外，周杰伦还热心慈善，多次向内地灾区捐款并募款新建希望小学。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>陈奕迅.png</string>
		<key>content</key>
		<string>陈奕迅（Eason Chan），1974年7月27日出生于香港，中国香港流行男歌手、演员，香港演艺人协会副会长之一。
1995年在香港地区参加TVB举办的第14届新秀歌唱大赛，从而跟华星唱片公司签下歌星合约，正式踏入香港乐坛。 1996年推出首张个人同名专辑《陈奕迅》，1998年推出《我的快乐时代》并获得叱咤乐坛流行榜至尊唱片大奖。  2003年成为第二位获得台湾金曲奖最佳国语男演唱人的香港歌手。 2005年推出的专辑《U87》  。2006年、2007年获得十大劲歌金曲最受欢迎男歌星奖。 2009年以《不想放手》获得台湾金曲奖最佳国语专辑奖。 
1997年，陈奕迅开始参演电影。2010年1月10日，他在“美涛·领衔2009腾讯网星光大典”中凭电影《金钱帝国》获得港台年度电影男演员荣誉。  2014年1月24日，陈奕迅获得英国金斯顿大学荣誉学位；5月15日发行国语概念专辑《米·闪》 ，获得第26届台湾金曲奖最佳国语男歌手奖 。2015年发行粤语专辑《准备中》  。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>南拳妈妈.png</string>
		<key>content</key>
		<string>南拳妈妈（Nan Quan Mama），中国台湾流行乐创作演唱团体，2004年出道，第一代由巨炮、盖瑞、弹头及宇豪组成，第二代由弹头、宇豪、Lara、张杰组成，第三代由弹头、宇豪组成，第四代则由弹头、曹景豪、严正岚、洪言翔组成。
2004年，在周杰伦的支持下，由巨炮、盖瑞、弹头及宇豪组成的南拳妈妈以首张专辑《南拳妈妈的夏天》正式出道；2005年，巨炮和盖瑞退居幕后，在张杰和Lara加入后推出专辑《2号餐》，因此获得香港新城劲爆国语组合奖[1]  ，歌曲《牡丹江》获得中华音乐人交流协会十大优良单曲；2006年，凭借专辑《调色盘》获得第8届CCTV-MTV音乐盛典台湾地区年度最佳组合奖[2] ，同年在台湾举行首场演唱会；2007年，第三次入围台湾金曲奖最佳演唱组合奖[3-5]  ；2008年，推出了在阿尔发唱片的最后一张专辑《优の良曲南搞小孩》；2010年，Lara、张杰先后单飞，组合的弹头、宇豪二人继续发展推出了一张专辑，2012年宇豪单飞加入乐团“小宇宙”；2015年，曹景豪、严正岚、洪言翔3人加入团体。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>后街男孩.png</string>
		<key>content</key>
		<string>后街男孩于1993年在美国佛罗里达州奥兰多市成立，成员分别为：尼克·卡特（Nick Carter）、霍伊·多罗夫（Howie D）、布莱恩·利特尔（Brian Littrell）、亚历山大·詹姆斯·迈克林（AJ Mclean）和凯文·理查德森（Kevin Richardson）[1]  。
1995年9月1日，后街男孩的首支单曲正式在美国发行[1]  ；1996年1月22日拿到了演艺生涯的首张金唱片[1]  ；1997年6月6日他们的单曲《Quit Playing Games》在美国发行[1]  ；1998年26月2日在美国发行他们的演唱会实况录像带《All Access》[1] ；2000年11月发行《黑与蓝》专辑；2009年10月6日再度以4人团队发行了专辑《就是我们》；2013年后街男孩在上海大舞台举行了“成立20周年亚洲巡演”。</string>
	</dict>
	<dict>
		<key>content</key>
		<string>王菲（Faye Wong），1969年8月8日出生于北京，中国女歌手、影视演员。
1987年底，王菲由北京到香港定居，经朋友介绍拜戴思聪为师学习唱歌。1989年，她以《仍是旧句子》在香港出道。1991年初，她惜别歌坛，远赴美国修读音乐。1992年，王菲重返乐坛，英文名由Shirley改作Faye并推出大碟《Coming Home》，其中《容易受伤的女人》在香港乐坛走红。1994年，首次获得十大劲歌金曲最受欢迎女歌星奖。 1998年，在春晚上演唱歌曲《相约1998》。2002年与Sony Music签约。2003-2005年，举办菲比寻常演唱会。2005年5月，王菲的经理人陈家瑛表示：王菲已开始“无限期休息”  。
王菲是首位登上美国《时代周刊》封面的华语歌手，代表作《天空》《红豆》《我愿意》等。2005年与演员李亚鹏结婚生子后一度隐退，2010年，她重返舞台复出。2013年9月13日，王菲与李亚鹏离婚。 2014年9月，谢霆锋王菲复合消息被证实。</string>
		<key>icon</key>
		<string>王菲.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>邓紫棋.png</string>
		<key>content</key>
		<string>邓紫棋（G.E.M.），原名邓诗颖，1991年8月16日生于中国上海，4岁移居香港，中国香港创作型女歌手 。
2008年7月10日以16岁之龄出道。同年10月16日发行首张EP《G.E.M.》，获得十大劲歌金曲最受欢迎女新人金奖、第31届十大中文金曲最有前途新人银奖等奖项  。2009年1月，获得叱咤乐坛流行榜“叱咤乐坛生力军女歌手金奖” 。2011年5月，以19岁之龄在香港红馆举行5场个人演唱会 。2012年7月，发行第四张个人专辑《Xposed》，凭借该专辑邓紫棋在2013年获得IFPI香港唱片销量大奖全年最高销量女歌手奖、最高销量国语唱片奖[7]  ，并入围第24届金曲奖最佳国语女歌手奖[8]  。2014年1月，参加湖南卫视《我是歌手第二季》节目，获得总决赛亚军 。3月31日，获第27届KCA美国儿童选择奖“最受欢迎亚洲艺人” 。12月10日，邓紫棋的蜡像入驻香港杜莎夫人蜡像馆 。2015年2月18日，参加2015年中央电视台春节联欢晚会，自弹自唱其自创的歌曲《多远都要在一起  。5月12日，再登福布斯中国名人榜，排名升至第11位  。截至北京时间2015年11月22日伦敦温布利终站，《G.E.M.X.X.X.Live”世界巡回演唱会》已经完成73场 。打破之前华语乐坛女歌手单轮巡演59场的记录 。8月15日，确认加盟中国好声音第四季担任梦想导师。当地时间8月31日，成为首位在瑞士阿尔卑斯山脉少女峰举办音乐会的中国音乐人。2016年1月5日，邓紫棋入选《福布斯》&quot;全球30位最具潜力杰出音乐人&quot;。
2015年5月14日，发起“童年的节奏”公益活动，共有35万人与上百位明星响应 。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>张学友.png</string>
		<key>content</key>
		<string>张学友，1961年7月10日出生于香港，中国香港男歌手、演员，毕业于香港崇文英文书院。
1984年因获得首届香港十八区业余歌唱大赛冠军而出道。1985年发行个人首张专辑《Smile》。1993年发行的专辑《吻别》打破华语唱片在台湾的销量纪录 。1995年起连续两年获得世界音乐大奖全球销量最高华人歌手奖 。1997年参与策划的音乐剧《雪狼湖》在香港连续演出42场。1998年获得第9届台湾金曲奖最佳国语男演唱人奖。2001年获得第23届十大中文金曲金针奖 。2004年发行首张个人全创作专辑《Life Is Like A Dream》。2010年12月30日至2011年12月29日，举办“张学友1/2世纪世界巡回演唱会”，打破12个月内巡演观众人数的吉尼斯世界纪录 。2013年获得第35届十大中文金曲金曲35周年荣誉大奖 。张学友演唱过多种音乐风格的歌曲，尝试过R&amp;B乐风、爵士乐以及用歌剧唱法来诠释歌曲。
1986年出演个人首部电影《霹雳大喇叭》。1989年凭借剧情片《旺角卡门》获得第8届香港电影金像奖最佳男配角奖 。1990年凭借武侠片《笑傲江湖》获得第27届台湾电影金马奖最佳男配角奖 。1993年出演喜剧片《东成西就》。1996年正式息影。2001年复出拍片。2002年凭借文艺片《男人四十》获得印度新德里电影节最佳男演员奖。2007年在香港星光大道留下手印。2010年主演文艺片《月满轩尼诗》。2015年主演动作片《赤道。
张学友热心公益慈善。1998年当选香港十大杰出青年。1999年当选世界十大杰出青年。2003年至2009年担任香港演艺人协会副会长。</string>
	</dict>
</array>
</plist>
